 /*Select All Elements  */
 *{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
.contacts {
    overflow: hidden;
}
/* header, main, footer */
header, main, footer {
    min-width: 100vw;
}
header, footer {
    background-color: darkgray;
}

/* Header */
header {
    position: fixed;
    top: 0;
    z-index: 100;
    display: inline-flex;
    justify-content: space-between;
    background-color: #555;
    box-shadow: 0 0 5px 2px black;
}
.logo {
    width: 9em;
    scale: 1.055;
    /* clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); */
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
.logo:hover {
    scale: 1.13;
}
/* Place the menu to the right of the page. */
.menu {
    /* margin: auto 0; */
    align-items: center;
    margin-top: 5px 10px 0;
    display: flex;
}
.menu-list{
    display: inline-flex;
    list-style: none;
    color: darkslategray;
}
.menu-list li  {
    padding: 0 10px;
}
.menu-list li a {
    color:darkslategray;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
}
.menu-list li a:hover {
    color: bisque;
    background-color: #777;

}
i {
    background-color: darkgray;
    font-size: 1em;
}
 .h3-font {
    font-size: 25px;
    font-style: italic;
    text-decoration: none;
 }

 /* pasted */

 /* header, main, footer */
header, main, footer {
    min-width: 100%;
}
/* main */
/* heading */
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 15px;
}
/* home */
#home {
    background-color: lightsteelblue;
    min-height: 200vh;
}
.wrapper {
    min-height: 100vh;
    align-content: center;
}
.wrapper img{
    display: block;
    margin: 15px auto;
    width: 500px;
    height: 600px;
    box-shadow: 0 0 6px 2px black;    
}
.wrapper p {
    text-align: center;
}
main{
    margin-top: 148px;
    background-color:  lightsteelblue;
}
.container {
    display: block;
    margin: 15px auto;
    width: 220px;
    clear: both;
}
.container input, .container textarea{
    width: 100%;
    clear: both;
    box-shadow: 0 0 5px 0px black;
}

#resume {
    text-align: center;
    background-color: lightsteelblue;
}
#contact {
    text-align: center;
    background-color: lightsteelblue;
}
section {
    height: calc(100vh - 178px);
}
h2 {
    padding-top: 20px;
}
.menu-list li a:hover{
    background-color: darkslategray;
    color: #555;
    border-radius: 5px;
}
#submit:hover{
    border-color: darkslateblue;
    scale: 15px;
}